mixin card(cardArr)
    each item in cardArr
        .card-post-block
            .card-head
                .card-title
                    h2 #{item.cardTitle} 
                .card-date
                    p #{item.cardDate} — #{item.cardComment} comments
            .card-img-overflow
                img(src="../img/full-post-img/"+item.cardImg, alt=item.cardImg)
            .card-desc
                p #{item.cardDesc}
            .card-panel-buttons
                +button-template("card-submit","card-submit-text","read more",item.cardId)
                .card-social
                    +social-icon(item.cardId)